body {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    padding: 100px;

    background-color: rgb(201, 180, 221);

    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {

    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;

    height: 400px;
    width: 400px;
    padding: 10px;

    border: 10px solid black;
}

#clear-button {
    margin: 100px;
    padding: 10px;
    font-size: large;
    font-weight: 700;
    background-color: rgb(197, 228, 255);
}

