:root {
    --size: 10;
}

body {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    padding: 100px;
    background-color: rgb(201, 180, 221);
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: large;
    font-weight: 700;
    background-color: rgb(197, 228, 255);
}


#container {
    display: grid;
    grid-template-columns: repeat(var(--size), auto);
    grid-template-rows: repeat(var(--size), auto);

    height: 500px;
    width: 500px;
    padding: 10px;
    border: 10px solid black;
}


